.Header{
    background: var(--bgGradient);
}
.Header_logo{
    color: var(--white);
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3.2rem;
}

.Header_navLink{
    color: var(--white);
    font-size: 2rem;
    text-decoration: none;
}
.Header_title{
    font-size: 4.8rem;
    line-height: 1.2;
    letter-spacing: 0.8rem;
    font-weight: 700;
}
.Header_subTitle{
    font-size: 3rem;

}
.Header_highlight{
    color: #FFBF00;
    font-style: italic;
}
.Header_title, .Header_subTitle{
    color: var(--white);
}