.Header{
    background: var(--bgGradient);
}
.Header_logo{
    color: var(--white);
}

.Header_navLink{
    color: var(--white);
}

.Header_highlight{
    color: #FFBF00;
}
.Header_titke, .Header_subTitle{
    color: var(--white);
}